{{#section "head"}}
	<link rel="stylesheet" href="/styles/info.css" type="text/css" />
{{/section}}
<body>
	<div class="containerText">
		<p class="textError"></p>
		<a class="textHome" href="/{{link}}">{{message}}</a>
	</div>
</body>