{{#section "head"}}
	<link rel="stylesheet" href="/styles/login.css" type="text/css" />
{{/section}}

<!--....................................MAIN.......................................-->
<main>
	<section class="form-login">
		<h5>Iniciar Sesion</h5>
		<form action="/users/login" method="post">
			<input class="controls" type="text" name="user" value="" placeholder="Usuario" autofocus />
			<input class="controls" type="password" name="pass" value="" placeholder="Contraseña" />
			<input class="button" type="submit" name="" value="Ingresar" />
			<p class="erroShow">{{message}}</p>
			<div class="link"><a href="#">¿Olvidaste tu contraseña?</a>
				<a href="/users/singup">Registrate</a></div>
		</form>
	</section>
</main>
<!--....................................MAIN.......................................-->