{{#section "head"}}
	<link rel="stylesheet" href="/styles/producto.css" type="text/css" />
{{/section}}
<!--....................................SECTION.......................................-->
<section>
	<div class="my-section">
		<article class="gallery">
			<img class="gallery-element" src="../imagenes/productos/arduino-nano.jpg" alt="" />
			<img class="gallery-element" src="../imagenes/arduino-nano/arduino-nano-cable.jpg" alt="" />

			<img class="gallery-element" src="../imagenes/arduino-nano/arduini-nano-pinout.png" alt="" />

			<img
				class="gallery-element"
				src="../imagenes/arduino-nano/arduino-nano-dimensions.png"
				alt=""
			/>
			<img class="gallery-element" src="../imagenes/arduino-nano/arduino-logo.png" alt="" />
		</article>

		<article class="container-general-information">
			<h2>Especificaciones Del Arduino</h2>
			<table>
				<tr>
					<th>Microcontrolador</th>
					<td>Atmel ATmega328</td>
				</tr>
				<tr>
					<th>Tensión de Operación (nivel lógico)</th>
					<td>5 V</td>
				</tr>
				<tr>
					<th>Tensión de Alimentación (pin Vin)</th>
					<td>7-12 V</td>
				</tr>
				<tr>
					<th>Pines E/S Digitales</th>
					<td>14 (de los cuales 6 proveen de salida PWM)</td>
				</tr>
				<tr>
					<th>Entradas Analógicas</th>
					<td>8</td>
				</tr>
				<tr>
					<th>Corriente máx por cada PIN de E/S</th>
					<td>40 mA</td>
				</tr>
				<tr>
					<th>Memoria Flash</th>
					<td>32 KB de los cuales 2KB son usados por el bootloader</td>
				</tr>
				<tr>
					<th>SRAM</th>
					<td>2 KB</td>
				</tr>
				<tr>
					<th>EEPROM</th>
					<td>1 KB</td>
				</tr>
				<tr>
					<th>Frecuencia de reloj</th>
					<td>16 MHz</td>
				</tr>
				<tr>
					<th>Dimensiones</th>
					<td>18.5mm x 43.2mm</td>
				</tr>
			</table>

			<h6>Descripción General</h6>

			<p class="container-description-text">
				El Arduino Nano es una pequeña y completa placa basada en el ATmega328 que se usa
				conectándola a una protoboard. Tiene la misma funcionalidad que el Arduino Uno, pero con una
				presentación diferente. No posee conector para alimentación externa, y funciona con un cable
				USB Mini-B en vez de el cable estandar.El nano es una plataforma de E / S simple
				ultra-pequeña basada en código de fuente abierta, tiene una gran ventaja en tamaño en
				comparación con la versión anterior de USB. Funduino podría ofrecer servicios que necesiten
				operar de manera independiente y con dispositivos electrónicos interactivos, y también puede
				conectar a aquellos que estén conectados con la PC, en colaboración con flash,
				procesamiento, max / msp, PD, vvvv y otros programas.
			</p>
			<p class="container-description-text">
				Un microcontrolador es un circuito integrado programable, capaz de ejecutar las órdenes
				grabadas en su memoria. Está compuesto de varios bloques funcionales, los cuales cumplen una
				tarea específica. Arduino es una plataforma de hardware libre, basada en una placa con un
				microcontrolador y un entorno de desarrollo, diseñada para facilitar el uso de la
				electrónica en proyectos multidisciplinares. Arduino puede tomar información del entorno a
				través de sus entradas y controlar luces, motores y otros actuadores. El microcontrolador en
				la placa Arduino se programa mediante el lenguaje de programación Arduino (basado en Wiring)
				y el entorno de desarrollo Arduino (basado en Processing). Los proyectos hechos con Arduino
				pueden ejecutarse sin necesidad de conectar a un computador.
			</p>

			<p class="container-description-text">
				Podes descargar la hoja de datos del siguiente enlace:
				<a
					href="https://www.terraelectronica.ru/pdf/show?pdf_file=%252Fds%252Fpdf%252FA%252FArduino_Nano3.pdf"
					target="_blank"
				>datasheet</a>
			</p>
		</article>
	</div>
</section>
<!--....................................SECTION.......................................-->
<!--....................................ASIDE.......................................-->
<aside>
	<div class="my-aside">
		<h5>Arduino Nano</h5>
		<p class="code">Código: A000005 / Código de barras: 7630049200173</p>
		<span class="price">$1800</span>
		<button class="btn-buy">comprar</button>
		<h1 class="mini-description">Placa Arduino Nano V3 Atmega328 Mini Usb 16m</h1>
		<div class="info-send">
			<img src="../imagenes/camion-envio.png" alt="camion de envio" />
			<p>Envío a todo el país</p>
		</div>
	</div>
</aside>
<!--....................................ASIDE.......................................-->